[submodule "BlockChain-learn"]
	path = BlockChain-learn
	url = git@github.com:YHYJ/BlockChain-learn.git
[submodule "C-learn"]
	path = C-learn
	url = git@github.com:YHYJ/C-learn.git
[submodule "Data-Analyze-learn"]
	path = Data-Analyze-learn
	url = git@github.com:YHYJ/Data-Analyze-learn.git
[submodule "Database-learn"]
	path = Database-learn
	url = git@github.com:YHYJ/Database-learn.git
[submodule "Flask-learn"]
	path = Flask-learn
	url = git@github.com:YHYJ/Flask-learn.git
[submodule "Go-learn"]
	path = Go-learn
	url = git@github.com:YHYJ/Go-learn.git
[submodule "Linux-learn"]
	path = Linux-learn
	url = git@github.com:YHYJ/Linux-learn.git
