[submodule "Python-learn"]
	path = Python-learn
	url = git@github.com:YHYJ/Python-learn.git
[submodule "Go-learn"]
	path = Go-learn
	url = git@github.com:YHYJ/Go-learn.git
[submodule "TensorFlow-learn"]
	path = TensorFlow-learn
	url = git@github.com:YHYJ/TensorFlow-learn.git
[submodule "Rust-learn"]
	path = Rust-learn
	url = git@github.com:YHYJ/Rust-learn.git
